# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

# Change the following values for local development.
SECRET_KEY={{ secret_key }}
PERSONAL_KEY={{ personal_key }}
PERSONAL_TOKEN={{ personal_token }}
BOARD_ID={{ board_id }}
TO_DO_ID = {{ to_do_id }}
DONE_ID = {{ done_id }}